.vscode/**
.vscode-test/**
src/**
.gitignore
pnpm-lock.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
out/test/**
out/generater/**
pnpm-workspace.yaml
smoke/**
ui-test/**
docs/**
